body {
    margin: 1%;
    padding: 1%;
}

header,footer {
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primeira-section, .section-contatos {
    margin: 4%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 10px;
    flex-wrap: nowrap;
}

.card a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.contatos img {
    width: 120px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Alinha os itens em uma coluna */
        padding: 10px; /* Reduz o espaçamento interno */
        gap: 5px; /* Reduz o espaçamento entre itens */
        flex-wrap: wrap;
    }
}