/* Menu */

#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#topo nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#topo nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin: 0 10px;
    transition: 0.8s;
    padding: 8px;
}

#topo nav a:hover {
    color: #09ff00;
    border-radius: 18px;
    background-color: #0325e067;
}

/* Serviços */
/* Segunda section */
.segunda div h1, .terceira div h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #0325e067;
    transition: 4s;
}

.segunda div h1:hover, .terceira div h2:hover {
    color: #09ff00;
    ;
}

.nossos-servicos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.card-text {
    font-size: 12px;
}

.primeiro-logo {
    padding: 55px;
    text-align: center;
}

/* Terceira section */

.fundo-quem-somos {
    background-image: url(../img/quem-somos.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden; /* Para conter o conteúdo e evitar que ele vaze para fora da seção */
}

.terceira div div h3 {
    font-size: 50px;
}

.quem-somos {
    width: 500px;
    padding: 40px;
    /*background-color: #f9fcffa2;*/
    background-color: #d4e8fc69;
    text-align: justify;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Alinha à direita */
    float: right;
    
    /* Adiciona uma margem para separar da seção */
    margin-left: 20px;
}

/* Outras telas */

@media (max-width: 768px) {
    #topo nav {
        flex-direction: column;
        align-items: flex-start;
    }
}